<div class="">
    <div class="flex items-center justify-between mb-3">
        <div class="text-[15px] font-[600]">
            Basic Information
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4">

        <!-- Mobile Number -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Mobile Number <span class="text-red-500">*</span>
            </label>

            <input pInputText formControlName="mobileNumber" class="w-full" />

            @if (candidateForm().controls['mobileNumber'].invalid &&
            candidateForm().controls['mobileNumber'].dirty) {

            <small class="text-red-500">
                Mobile Number is required
            </small>
            }
        </div>

        <!-- Name -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Name <span class="text-red-500">*</span>
            </label>

            <input pInputText formControlName="name" class="w-full" />

            @if (candidateForm().controls['name'].invalid &&
            candidateForm().controls['name'].dirty) {

            <small class="text-red-500">
                Name is required
            </small>
            }
        </div>

        <!-- Email -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Email <span class="text-red-500">*</span>
            </label>

            <input pInputText formControlName="email" class="w-full" />

            @if (candidateForm().controls['email'].invalid &&
            candidateForm().controls['email'].dirty) {

            <small class="text-red-500">
                Email is required
            </small>
            }
        </div>

        <!-- Gender -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Gender
            </label>

            <p-select appendTo="body" [options]="genderList()" formControlName="gender" optionLabel="name"
                optionValue="code" placeholder="Select Gender" class="w-full">
            </p-select>
        </div>

        <!-- Alt Mobile Number -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Alt Mobile Number
            </label>

            <input pInputText formControlName="alternateMobileNumber" class="w-full" />
        </div>

        <!-- Date of Birth -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Date of Birth
            </label>
            <p-datepicker formControlName="dateOfBirth" />
        </div>

        <!-- Source -->
        <div class="flex flex-col gap-1">

            <label class="text-[13px] font-medium text-gray-700">
                Source <span class="text-red-500">*</span>
            </label>

            <input pInputText formControlName="source" class="w-full" />

            @if (candidateForm().controls['source'].invalid &&
            candidateForm().controls['source'].dirty) {

            <small class="text-red-500">
                Source is required
            </small>
            }
        </div>
    </div>
</div>