<aside class="sidebar">

    <!-- Logo -->
    <div class="sidebar-logo">
        <div class="sidebar-logo-icon">
            H
        </div>

        <div>
            <div class="sidebar-logo-title">Hurecom</div>
            <div class="sidebar-logo-sub">HR Platform</div>
        </div>
    </div>

    <nav class="sidebar-nav">

        <!-- Main -->
        <div class="sidebar-group-title">Main</div>

        <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-item">
            <svg lucideLayoutDashboard class="sidebar-icon"></svg>
            <span>Dashboard</span>
        </a>

        <a routerLink="/applications" routerLinkActive="active" class="sidebar-item">
            <svg lucideCircleUser class="sidebar-icon"></svg>
            <span>Applications</span>
        </a>

        <a routerLink="/candidates" routerLinkActive="active" class="sidebar-item">
            <svg lucideCircleUser class="sidebar-icon"></svg>
            <span>Candidates</span>
        </a>

        <a routerLink="/job-openings" routerLinkActive="active" class="sidebar-item">
            <svg lucideBriefcase class="sidebar-icon"></svg>
            <span>Job Openings</span>
        </a>

        <!-- Administration -->
        <div class="sidebar-group-title">Administration</div>

        <a routerLink="/organizations" routerLinkActive="active" class="sidebar-item">
            <svg lucideBuilding class="sidebar-icon"></svg>
            <span>Organizations</span>
        </a>

        <a routerLink="/users" routerLinkActive="active" class="sidebar-item">
            <svg lucideUser class="sidebar-icon"></svg>
            <span>Users</span>
        </a>

        <a routerLink="/roles" routerLinkActive="active" class="sidebar-item">
            <svg lucideUserKey class="sidebar-icon"></svg>
            <span>Roles</span>
        </a>

        <a routerLink="/teams" routerLinkActive="active" class="sidebar-item">
            <svg lucideShieldCogCorner class="sidebar-icon"></svg>
            <span>Teams</span>
        </a>

        <!-- Job Configuration -->
        <div class="sidebar-group-title">Configuration</div>

        <a routerLink="/clients" routerLinkActive="active" class="sidebar-item">
            <svg lucideBuilding2 class="sidebar-icon"></svg>
            <span>Clients</span>
        </a>

        <a routerLink="/jobs" routerLinkActive="active" class="sidebar-item">
            <svg lucideBriefcase class="sidebar-icon"></svg>
            <span>Jobs</span>
        </a>

    </nav>

</aside>