<form [formGroup]="clientLocationForm" class="flex flex-col gap-4" autocomplete="off">

    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryId">
            @for (country of countries(); track country.id) {
            <mat-option [value]="country.id">{{ country.name }}</mat-option>
            }
        </mat-select>
        @if (clientLocationForm.controls['countryId'].invalid && clientLocationForm.controls['countryId'].dirty) {
        <mat-error>Country is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="stateId">
            @for (state of states(); track state.id) {
            <mat-option [value]="state.id">{{ state.name }}</mat-option>
            }
        </mat-select>
        @if (clientLocationForm.controls['stateId'].invalid && clientLocationForm.controls['stateId'].dirty) {
        <mat-error>State is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="cityId">
            @for (city of cities(); track city.id) {
            <mat-option [value]="city.id">{{ city.name }}</mat-option>
            }
        </mat-select>
        @if (clientLocationForm.controls['cityId'].invalid && clientLocationForm.controls['cityId'].dirty) {
        <mat-error>City is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Branch Name</mat-label>
        <input matInput formControlName="branchName" />
        @if (clientLocationForm.controls['branchName'].invalid && clientLocationForm.controls['branchName'].dirty) {
        <mat-error>Branch Name is required</mat-error>
        }
    </mat-form-field>

    <div class="flex items-center justify-between p-3 border rounded-lg">
        <div class="flex flex-col">
            <span class="text-sm font-medium">Active</span>
            <span class="text-xs text-gray-500 mt-1">
                Activate or deactivate this client location.
            </span>
        </div>
        <mat-checkbox formControlName="active">Active</mat-checkbox>
    </div>

    <div class="hurecom-dialog-footer flex justify-end gap-2">
        <button mat-stroked-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary" type="button" (click)="saveClientLocation()">
            {{ isEditMode() ? 'Update' : 'Create' }}
        </button>
    </div>

</form>