<form [formGroup]="clientSpocForm" class="flex flex-col gap-4" autocomplete="off">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (clientSpocForm.controls['name'].invalid && clientSpocForm.controls['name'].dirty) {
        <mat-error>Name is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (clientSpocForm.controls['email'].invalid && clientSpocForm.controls['email'].dirty) {
        <mat-error>Valid Email is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber" />
        @if (clientSpocForm.controls['mobileNumber'].invalid && clientSpocForm.controls['mobileNumber'].dirty) {
        <mat-error>Mobile Number is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Landline Number</mat-label>
        <input matInput formControlName="landlineNumber" />
        @if (clientSpocForm.controls['landlineNumber'].invalid && clientSpocForm.controls['landlineNumber'].dirty) {
        <mat-error>Landline Number is required</mat-error>
        }
    </mat-form-field>

    <div class="flex items-center justify-between p-3 border rounded-lg">
        <div class="flex flex-col">
            <span class="text-sm font-medium">Active</span>
            <span class="text-xs text-gray-500 mt-1">
                Activate or deactivate this client spoc.
            </span>
        </div>
        <mat-checkbox formControlName="active">Active</mat-checkbox>
    </div>

    <div class="hurecom-dialog-footer flex justify-end gap-2">
        <button mat-stroked-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary" type="button" (click)="saveClientSpoc()">
            {{ isEditMode() ? 'Update' : 'Create' }}
        </button>
    </div>

</form>