<form [formGroup]="teamForm" class="flex flex-col gap-4" autocomplete="off">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" />
        @if (teamForm.controls['code'].invalid && teamForm.controls['code'].dirty) {
        <mat-error>Code is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (teamForm.controls['name'].invalid && teamForm.controls['name'].dirty) {
        <mat-error>Name is required</mat-error>
        }
    </mat-form-field>

    <div class="flex items-center justify-between p-3 border rounded-lg">
        <div class="flex flex-col">
            <span class="text-sm font-medium">Active</span>
            <span class="text-xs text-gray-500 mt-1">Activate or deactivate this team.</span>
        </div>
        <mat-slide-toggle formControlName="active"></mat-slide-toggle>
    </div>

    <div class="flex justify-end gap-2 mt-2">
        <button mat-stroked-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary" type="button" (click)="saveTeam()">
            {{ isEditMode() ? 'Update' : 'Create' }}
        </button>
    </div>
</form>